{% extends 'base.html' %}

{% block content %}
  <h1>Lista de Registros</h1>
  
  {% if registros %}
    <table>
      <thead>
        <tr>
          <th>Número de Registro</th>
          <th>Nombres y Apellidos</th>
          <th>Puesto Institucional</th>
          <th>Unidad a la que Pertenece</th>
          <th>Dirección Institucional</th>
          <th>Ciudad en la que Labora</th>
          <th>Teléfono Institucional</th>
          <th>Extensión Telefónica</th>
          <th>Correo Electrónico</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for registro in registros %}
          <tr>
            <td>{{ registro.numero_registro }}</td>
            <td>{{ registro.nombres_apellidos }}</td>
            <td>{{ registro.puesto_institucional }}</td>
            <td>{{ registro.unidad_pertenece }}</td>
            <td>{{ registro.direccion_institucional }}</td>
            <td>{{ registro.ciudad_labora }}</td>
            <td>{{ registro.telefono_institucional }}</td>
            <td>{{ registro.extension_telefonica }}</td>
            <td>{{ registro.correo_electronico }}</td>
            <td>
              <a href="{% url 'directorio:editar_registro' registro.numero_registro %}">Editar</a>
              <a href="{% url 'directorio:eliminar_registro' registro.numero_registro %}">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay registros disponibles.</p>
  {% endif %}
  
{% endblock %}