{% extends 'base.html' %}


{% block content %}
  <h2>Lista de Registros</h2>

  <!- Búsqueda de regitros ->
  <form method="GET" action="{% url 'directorio:lista_registros' %}" class="search">
    <input type="text" name="search_query" placeholder="Buscar contacto" value="{{ search_query }}">
    <button type="submit">Buscar</button>
  </form>

  {% if registros %}
    <table class="contact-table">
      <thead>
        <tr>
          <th>
            <a href="?ordenar_por=numero_registro">N°</a>
          </th>
          <th>
            <a href="?ordenar_por=nombres_apellidos">Apellidos y Nombres</a>
          </th>
          <th>
            <a href="?ordenar_por=cedula">Cédula</a>
          </th>
          <th>
            <a href="?ordenar_por=puesto_institucional">Puesto Institucional</a>
          </th>
          <th>
            <a href="?ordenar_por=unidad_pertenece">Unidad a la que Pertenece</a>
          </th>
          <th>
            <a href="?ordenar_por=direccion_institucional">Dirección Institucional</a>
          </th>
          <th>
            <a href="?ordenar_por=ciudad_labora">Ciudad en la que Labora</a>
          </th>
          <th>
            <a href="?ordenar_por=telefono_institucional">Teléfono Institucional</a>
          </th>
          <th>
            <a href="?ordenar_por=extension_telefonica">Extensión Telefónica</a>
          </th>
          <th>Correo Electrónico</th>
          {% if user.is_superuser %}
          <th>Editar</th>
          <th>Eliminar</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for registro in registros %}
          <tr>
            <td>{{ registro.numero_registro }}</td>
            <td>{{ registro.nombres_apellidos }}</td>
            <td>{{ registro.cedula }}</td>
            <td>{{ registro.puesto_institucional }}</td>
            <td>{{ registro.unidad_pertenece }}</td>
            <td>{{ registro.direccion_institucional }}</td>
            <td>{{ registro.ciudad_labora }}</td>
            <td>{{ registro.telefono_institucional }}</td>
            <td>{{ registro.extension_telefonica }}</td>
            <td>
              <a href="mailto:{{ registro.correo_electronico }}" style="background-color: transparent; color: blue;">{{ registro.correo_electronico }}</a>
            </td>
            {% if user.is_superuser %}
            <td>
              <a href="{% url 'directorio:editar_registro' registro.numero_registro %}">
                <button class="forms-button">Editar</button>
              </a>
            </td>
            <td>
              <a href="{% url 'directorio:eliminar_registro' registro.numero_registro %}">
                <button class="forms-button">Eliminar</button>
              </a>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="reporteContainer">
      <a href="?excel">Descargar Reporte en Excel (XLSX)</a>
      <a href="?csv">Descargar Reporte en CSV</a>
    </div>
  {% else %}
    <p>No hay registros disponibles.</p>
  {% endif %}
  
{% endblock %}