{% extends 'base.html' %}


{% block content %}
  <h2>Lista de Registros</h2>

  <!- Búsqueda de regitros ->
  <form method="GET" action="{% url 'directorio:lista_registros' %}">
    <input type="text" name="search_query" placeholder="Buscar registros">
    <button type="submit">Buscar</button>
  </form>

  {% if registros %}
    <table class="contact-table">
      <thead>
        <tr>
          <th>N°</th>
          <th>Nombres y Apellidos</th>
          <th>Cédula</th>
          <th>Puesto Institucional</th>
          <th>Unidad a la que Pertenece</th>
          <th>Dirección Institucional</th>
          <th>Ciudad en la que Labora</th>
          <th>Teléfono Institucional</th>
          <th>Extensión Telefónica</th>
          <th>Correo Electrónico</th>
          {% if user.is_superuser %}
          <th>Editar</th>
          <th>Eliminar</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for registro in registros %}
          <tr>
            <td>{{ registro.numero_registro }}</td>
            <td>{{ registro.nombres_apellidos }}</td>
            <td>{{ registro.cedula }}</td>
            <td>{{ registro.puesto_institucional }}</td>
            <td>{{ registro.unidad_pertenece }}</td>
            <td>{{ registro.direccion_institucional }}</td>
            <td>{{ registro.ciudad_labora }}</td>
            <td>{{ registro.telefono_institucional }}</td>
            <td>{{ registro.extension_telefonica }}</td>
            <td>
              <a href="mailto:{{ registro.correo_electronico }}" style="background-color: transparent; color: blue;">{{ registro.correo_electronico }}</a>
            </td>
            {% if user.is_superuser %}
            <td>
              <a href="{% url 'directorio:editar_registro' registro.numero_registro %}">
                <button class="edit-button">Editar</button>
              </a>
            </td>
            <td>
              <a href="{% url 'directorio:eliminar_registro' registro.numero_registro %}">
                <button class="delete-button">Eliminar</button>
              </a>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay registros disponibles.</p>
  {% endif %}
  
{% endblock %}