<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Aquí puedes incluir el encabezado común de tu sitio -->
        <h1>Directorio interno INAMHI</h1>
        <nav>
            <!-- Aquí puedes incluir la navegación común de tu sitio -->
            <ul>
                <li><a href="/directorio/agregar_registro">Inicio</a></li>
                <li><a href="/directorio/lista_registros/">Contactos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Aquí puedes incluir el pie de página común de tu sitio -->
        <p>Derechos reservados &copy; 2023</p>
    </footer>
</body>
</html>