<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <!-- Aquí puedes incluir el encabezado común de tu sitio -->
        <center><h1>Directorio interno INAMHI</h1></center>
        <nav>
            <!-- Aquí puedes incluir la navegación común de tu sitio -->
            <ul>
                <li><a href="/directorio/agregar_registro">Agregar nuevo contacto</a></li>
                <li><a href="/directorio/lista_registros/">Lista de contactos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Aquí puedes incluir el pie de página común de tu sitio -->
        <p>Derechos reservados &copy; 2023</p>
    </footer>
</body>
</html>