<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <!-- Aquí puedes incluir el encabezado común de tu sitio -->
        

        <div class="header-content">
            
            <div class="logo-container">
                <img src="{% static 'images/logo.png' %}" alt="Logo de la empresa" class="logo">
            </div>

            <div class="text-container">
                {% if user.is_authenticated %}
                <text class="welcome-message">¡Bienvenido, {{ user.username|capfirst }}!</text>
                {% endif %}
            </div>
        </div>

        <div class="header-text">
            <h1>Directorio interno INAMHI</h1>
            <h3 class="txt">Art. 7 de la Ley Orgánica de Transparencia y Acceso a la Información Pública - LOTAIP</h3>
            <h3 class="txt">Literal b1) Directorio completo de la institución</h3>
        </div>
        

        <nav>
            <!-- Aquí puedes incluir la navegación común de tu sitio -->
            <ul>
                {% if user.is_superuser %}
                <li><a href="/directorio/agregar_registro" style="margin-right: 30px;">Agregar nuevo contacto</a></li>
                <li><a href="/directorio/lista_registros/" style="margin-right: 30px;">Lista de contactos</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Aquí puedes incluir el pie de página común de tu sitio -->
        <p>Derechos reservados &copy; 2023</p>
    </footer>
</body>
</html>